data_movers/_x/
aie/.Xil/
aie/Work
aie/AIECompiler.log
aie/libadf.a
aie/vitis_analyzer*
hw/vitis_analyzer*
aie/.AIE_SIM_CMD_LINE_OPTIONS
aie/ISS_RPC_SERVER_PORT
aie/pl_sample_count_*
aie/aiesimulator_output/*
!aie/aiesimulator_output/data/
aie/x86simulator_output/*
!aie/x86simulator_output/data/
aie/*.airun*
aie/*.log
data_movers/_x
data_movers/.Xil
data_movers/*.xo
data_movers/*.xo.*
data_movers/*.log
hw/_x/
hw/.Xil/
hw/emulation_data/
hw/cfg/
hw/sim/
hw/*.bin
hw/*.BIN
hw/*.bif
hw/*.log
hw/*.xclbin
hw/*.xclbin.*
hw/*.xsa
hw/*.xsa.*
hw/pmc_args.txt
hw/qemu_args.txt
hw/launch_hw_emu.sh
hw/.ipcache/
sw/.run/
sw/.Xil/
sw/*.log
sw/emconfig.json
sw/*.exe
sw/*xclbin
sw/*.csv
sw/*.protoinst
sw/*.wcfg
sw/*.run_summary
mutual_info/_x/
mutual_info/.Xil/
mutual_info/*.xo
mutual_info/*.xo.*
mutual_info/testbench
mutual_info/*.log
*.jou
*.str
*wdb
sw/xsim.dir/
data_movers/testbench/testbench_setupaie
data_movers/testbench/testbench_setminfo
data_movers/testbench/dataset_output/*
data_movers/testbench/dataset_output_sw/*
sw/dataset_output/*
sw/dataset_sw_output/*
hw/*.ltx
sw/dataset/*.png
aie/*simulator_output/
build/